:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #EAE5D9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #DF7E5D;
  text-decoration: inherit;
}
a:hover {
  color: #0D4470;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
  background-color: #EAE5D9;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0D4470;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #EAE5D9;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #EAE5D9;
    background-color: #100604;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #100604;
    background-color: #EAE5D9;
  }
}

.modal-content {
  background-color: transparent;
  border: none;
}